/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: 10px;
    color: white;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  